
@using Cardid.Models
@model User

@{
    ViewBag.Title = "Your Account: " + Model.DisplayName;
}

<h2 class="view-title">@Model.DisplayName</h2>

<div>
    @Html.ActionLink("Manage Tags", "TagView", "Deck")
</div>


<div>
    @Html.ActionLink("Change your information", "ChangeInfoInit", "Home")
</div>