
@{
    ViewBag.Title = "Default Error";
}

<h2 class="view-title">Error</h2>
<div class="white">
    <p>
        An error occurred while processing your request.
    </p>
    @if (ViewBag.LoggedOut == true)
    {
        <p>
            Click here to <u>@Html.ActionLink("log in", "Login", "Home")</u>, or go to our <u>@Html.ActionLink("homepage", "Index", "Home")</u>.
        </p>
    }

</div>

