

/*imported fonts*/

@font-face {
    font-family: icons;
    src: url('Icomoon/fonts/icomoon.ttf');
}

.icons {
    font-family: icons;
    display: inline-block;
    transform: translateY(1px);
}


/* general styles */

html, body, .pageview {
    width: inherit;
    height: inherit;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background: url('Backgrounds/arrowbg5.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.align-right {
    text-align: right;
}

.at-bottom {
    margin-bottom: 0;
}

.at-top {
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.dark-hover:hover {
    background: rgba(0,0,0,.7);
    outline: 8px solid rgba(0,0,0,.7);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-baseline {
    justify-content: space-around;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-left {
    justify-content: flex-start;
}

.flex > div {
    margin: 12px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.half-tab {
    display: inline-block;
    width: .5em;
}

.hidden {
    display: none;
}

.large-type {
    font-size: 1.4em;
}

.link-inline:hover {
    background: rgba(0,0,0,.2);
    outline: 8px solid rgba(0,0,0,.2);
}

.narrow-line {
    margin: 0;
}

.near-top {
    margin-top: .5em;
}

.pointer:hover {
    cursor: pointer;
}

.small-type {
    font-size: .9em;
}

.spacer {
    height: 1em;
}

.tab {
    display: inline-block;
    width: 1em;
}

.underline {
    text-decoration: underline;
}

.white {
    color: #fff;
}


/* layout */

.pageview {
    position: relative;
    min-height: 100vh;
}

.page-header {
    position: relative;
    background: rgba(0,0,0,.5);
    padding: 10px 0;
}

.container {
    position: relative;
    padding: 1em;
    margin-bottom: 50px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: rgba(0,0,0,.5);
    padding: 4px;
    color: #fff;
}

.top-menu {
    position: relative;
}

.page-title, .top-menu {
    display: flex;
    justify-content: center;
    color: #fff;
}

.page-title {
}

    .page-title h1 {
        font-size: 3em;
        margin: 0;
    }

    .page-title p {
        position: absolute;
        transform: translate(10.5em, .36em);
        margin: 0;
        font-size: .9em;
        margin-top: 0;
    }

@media screen and (max-width: 450px) {
    .page-title p {
        transform: translateY(3.5em);
    }
}

.header-option {
    text-align: center;
    min-width: 6vw;
    padding: 1vh 2vw;
    margin: 0 1vw;
    margin-top: 10px;
    border-radius: 4px;
}

    .header-option:hover {
        background: rgba(0,0,0,.2);
    }

.module {
    display: inline-block;
    margin: 1em 0;
    padding: 1em;
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.2);
    color: #fff;
}

.view-title, .header-title {
    font-family: 'Gugi', sans-serif;
}

.view-title {
    display: inline-block;
    margin: 0;
    color: #fff;
}


.view-msg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em 2em;
    background: #333;
    color: #fff;
    font-size: .9em;
}

.site-info {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
}


/* forms */

input {
    width: 178px;
    padding: 8px 10px;
    background: rgba(255,255,255,.7);
    border: 1px solid rgba(0,0,0,.4);
}

label {
    display: inline-block;
    text-align: right;
    padding-right: .5em;
    width: 150px;
}

textarea {
    display: block;
    width: 95%;
    max-width: 95%;
    height: 3em;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.4);
}

.card-content label {
    text-align: left;
}

.popup {
    width: 90%;
}

.right-column {
    margin-left: 162px;
}

.single-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-attr {
    font-weight: bold;
    width: 200px;
    padding: 4px 8px;
}

.userinfo-result {
    padding: .5em 1em;
    color: #fff;
    background: rgba(0,0,0,.3);
}

.validation-group {
    margin: 5px 0;
}

.vertical-form {
    margin-bottom: 1em;
}

.wide-label {
    width: auto;
}

.x-button {
    position: absolute;
    top: .5em;
    left: .5em;
}

    .x-button:hover {
        cursor: pointer;
    }


/* buttons */

.btn {
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    opacity: .9;
}

    .btn:hover {
        text-decoration: none;
        opacity: .7;
    }

.inline-btn, .main-btn, .top-btn {
    background: #333;
    color: #fff;
    border: 1px solid #fff;
}

.inline-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-btn {
    width: 10vw;
    margin: 10px;
    margin-bottom: 0;
}

.top-btn, .main-btn, .delete-btn {
    margin-top: 10px;
}

    .inline-btn:hover, .top-btn:hover, .main-btn:hover {
        background: #fff;
        color: #333;
        border: 1px solid #333;
    }

.delete-btn {
    background: #993737;
    color: #fff;
    border: 1px solid #fff;
}

    .delete-btn:hover {
        background: #fff;
        color: #993737;
        border: 1px solid #993737;
    }


/* homepage */

.home-header {
    position: relative;
    display: flex;
    padding: 0 1em;
    background: rgba(0,0,0,.7);
    border-bottom: 1px solid rgba(255,255,255,.3);
    width: 100%;
    color: #fff;
    transform: translate(-1em, -1em);
    justify-content: space-between;
}

.leaderboard, .tag-leaderboard {
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.2);
    color: #fff;
    width: 28%;
    min-width: 250px;
    padding: 1em;
}

    .leaderboard-expand:hover, .leaderboard-collapse:hover {
        cursor: pointer;
    }

@media screen and (min-width: 1140px) {
    .tag-leaderboard {
        display: none;
    }
}

@media screen and (max-width: 1140px) {

    .leaderboard {
        width: 40%;
        min-width: 250px;
    }

        .leaderboard:nth-of-type(3) {
            display: none;
        }

    .tag-leaderboard {
        display: block;
        width: 90%;
        min-width: 250px;
    }
}

@media screen and (max-width: 670px) {

    .leaderboard, .tag-leaderboard {
        width: 100%;
    }
}

.leaderboard-list {
    margin-top: 2em;
}

.listing-left {
    width: 70%;
    text-align: right;
    display: inline-block;
}

.listing-right {
    font-weight: bold;
    vertical-align: top;
    width: 40px;
    margin: 0 1.5em;
    padding: 4px 1em;
    background: rgba(0,0,0,.7);
}

.tag-listing {
    height: 2.5em;
    display: inline-block;
}

.tag-listing-left {
    margin-left: 1em;
    margin-right: .5em;
}

.tag-listing-right {
    margin-right: 1em;
    background: rgba(0,0,0, .7);
    padding: 4px 1em;
}

.welcome-msg {
    margin-left: 5em;
}


/* cards */

.card-column {
    width: 40vw;
    min-width: 300px;
}

.card-bothsides {
    width: 20%;
    min-width: 200px;
    background: rgba(255,255,255,0.25);
    border: 1px solid rgba(0,0,0,.25);
    padding: 1em;
}

.card-blank {
    width: 20%;
    min-width: 200px;
    padding: 1em;
    padding-top: 0;
}

.card-field {
    user-select: none;
    margin: 8px 0;
    padding: 8px 4px;
    background: #fff;
    opacity: .77;
}

.card-listing {
    background: #fff;
    opacity: .7;
    padding: 4px;
}

.card-options {
    margin-bottom: 1em;
}

.card-decks {
}

.deck-incard {
    display: inline-block;
    background: rgba(0,0,0,.15);
    color: #fff;
    padding: 4px 12px;
    margin: 8px;
    margin-left: 0;
}

    .deck-incard:hover {
        background: rgba(0,0,0,.25);
    }

.edit-field {
    margin: 1em 0;
}


/* decks */

.deck-column {
    width: 45%;
    min-width: 300px;
}

@media screen and (max-width: 700px) {
    .deck-column {
        width: 100%;
    }
}

.deck-heading {
    margin: 0;
    margin-top: 2em;
}

    .deck-heading:first-of-type {
        margin-top: 0;
    }

.deck-listing {
    display: block;
    clear: both;
    overflow: auto;
    background: rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.2);
    color: #fff;
    margin-top: 1em;
    padding: 1em 1.5em;
    max-width: 750px;
}

    .deck-listing:hover {
        background: rgba(0,0,0,.44);
        cursor: pointer;
    }

.deckname-listing {
    display: inline-block;
    font-size: 1.2em;
}



.delete-submit {
    display: none;
    padding: 1em 2em;
    margin: .5em 0;
    background: rgba(0,0,0,.5);
    color: #fff;
}

.editdeck-left {
    width: 30%;
    min-width: 250px;
}

.editdeck-right {
    display: inline-table;
    width: 60%;
    min-width: 250px;
}

@media screen and (max-width: 890px) {
    .editdeck-left, .editdeck-right {
        width: 100%;
    }
}

.listing-section {
    margin-top: 1em;
}

.listing-subsection {
    display: inline-block;
}


/* tags */

.active-tag, .search-tag {
    background: #111;
}

    .search-tag:hover {
        background: #eee;
        color: #111;
    }

.inactive-tag {
    background: #555;
}

    .inactive-tag:hover {
        background: #333;
    }

.delete-tag {
    color: #ccc;
}

    .delete-tag:hover {
        color: #fff;
    }

.tag {
    display: inline-block;
    color: #fff;
    margin: 4px;
    padding: 4px;
}

.tags-alph, .tags-pop {
    float: left;
}

.tag-container {
    clear: both;
    overflow: auto;
    padding: .5em 0;
}

.tag-results {
    width: 30%;
    min-width: 300px;
}

.tagsearch-heading {
    margin-top: 0;
}

.tagviews > p {
    margin-top: 0;
    float: left;
}

.tagview-alph {
    margin-left: 1em;
}

.tagview-pop {
    margin-right: 1em;
}

.toggle-left, .toggle-right {
    transform: translateY(4px);
}

/* search */

.results-container {
    padding: 1em 0;
}

.results-subsection {
    position: relative;
    padding-top: 2em;
}

.results-title {
    position: absolute;
    top: 0;
    left: 0;
}


/* study session */

.study-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.card-frame {
    position: relative;
    width: 550px;
    max-width: 90vw;
    height: 350px;
    max-height: 60vw;
}

.studycard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    color: #000;
    font-size: 2em;
    transition: all .3s ease;
}

.new-card {
    transform: translateX(100vw);
}

.old-card {
    transform: translateX(-100vw);
}

.studynav {
    text-decoration-style: none;
    background: #333;
    color: #fff;
    margin: 10px;
}

    .studynav:hover, .finish:hover {
        cursor: pointer;
    }

.flip {
    padding: 10px;
}

.mark-frame div {
    display: inline-block;
    padding: 10px;
}

.mark-right:hover {
    background: #379937;
    color: #fff;
}

.mark-wrong:hover {
    background: #993737;
    color: #fff;
}

.score div {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
}

.study-list {
}

.study-listing {
    margin: 5px 0;
    background: rgba(0,0,0,.2);
    padding: 1px 1em;
}

.study-score {
    display: inline-block;
    background: rgba(0,0,0,.5);
    padding: 5px 10px;
    transform: translateX(-5px);
}