
/* general styles */

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background: url('Backgrounds/arrowbg5.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.at-top {
    margin-top: 0;
}

.pointer:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-baseline {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-left {
    justify-content: flex-start;
}

.flex > * {
    margin: 12px;
}

.container-header {
}

.option {
    position: relative;
    clear: both;
}

.pageview {
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.white {
    color: #fff;
}

.small-type {
    font-size: .85em;
}


/* layout */

.page-header {
    position: relative;
    background: rgba(0,0,0,.15);
    padding: 20px 0;
}

.container {
    position: relative;
    padding: 1em;
    margin-bottom: 3em;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: rgba(0,0,0,.5);
    padding: 4px;
    color: #fff;
}

.user-info, .site-info {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
}

.top-menu {
    position: relative;
}

.page-title, .top-menu {
    display: flex;
    justify-content: center;
    color: #fff;
}

    .page-title p {
        opacity: .7;
    }

.view-title {
    font-family: 'Gugi', sans-serif;
    color: #fff;
    opacity: .7;
    margin: 0;
}

.page-title h1 {
    font-size: 3em;
    margin: 0;
    opacity: .5;
}

.page-title p {
    position: absolute;
    transform: translate(10.5em, .36em);
    margin: 0;
    font-size: .9em;
    margin-top: 0;
}


/* forms */

.form-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

/* buttons */

.btn {
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    opacity: .9;
}

    .btn:hover {
        text-decoration: none;
        opacity: .7;
    }

.top-btn {
    width: 10vw;
    margin: 10px;
    margin-bottom: 0;
}

.top-btn, .main-btn, .card-button {
    background: #333;
    color: #fff;
    margin: 4px;
    border: 1px solid #fff;
}

    .top-btn:hover, .main-btn:hover, .card-button:hover {
        background: #fff;
        color: #333;
        border: 1px solid #333;
    }

.delete-btn {
    background: #993737;
    color: #fff;
    border: 1px solid #fff;
}

    .delete-btn:hover {
        background: #fff;
        color: #993737;
        border: 1px solid #993737;
    }


/* cards */

.editcard {
    padding: 0 5%;
}

.card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-bothsides {
    width: 20%;
    min-width: 200px;
    background: rgba(255,255,255,0.25);
    padding: 1em;
}

.card-field {
    margin: 8px 4px;
    padding: 8px 4px;
    background: #fff;
}

.card-options {
    clear: both;
    overflow: auto;
    margin-bottom: 1em;
}

.card-decks {
    margin: 0 4px;
}

.deck-incard {
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 4px 12px;
    margin: 8px;
    margin-left: 0;
}

.deck-listing {
    background: rgba(255,255,255,.5);
    color: #000;
    font-weight: bold;
    margin-right: 5px;
    padding: 5px;
}


/* decks */

.deckview-left {
}

.deckview-right {
}

.editdeck-left {
}

.editdeck-right {
    min-width: 60%;
}

.deck-listing {
    background: rgba(0,0,0,.15);
    color: #fff;
    padding: 1em;
    clear: both;
    overflow: auto;
}

.remove-card {
}

    .remove-card:hover {
        color: #993737;
    }

.delete-submit {
    display: none;
    padding: 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
}

/* tags */

.tagviews {
    height: 1.5em;
}

.tagviews > span{

}

.tag-container {
    clear: both;
    overflow: auto;
    padding: 1em 0;
    padding-bottom: 2em;
}

.tags-alph, .tags-pop {
    float: left;
}

.tag {
    margin: 4px;
    padding: 4px;
    color: #fff;
}

.active-tag {
    background: #394272;
}

.inactive-tag {
    background: #777;
}


/* study session */

.study-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.card-frame {
    position: relative;
    width: 550px;
    max-width: 90vw;
    height: 350px;
    max-height: 60vw;
}

.studycard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    color: #000;
    font-size: 2em;
    transition: all .3s ease;
}

.new-card {
    transform: translateX(100vw);
}

.old-card {
    transform: translateX(-100vw);
}

.studynav {
    margin: 10px;
    text-decoration-style: none;
    background: #333;
    color: #fff;
}

    .studynav:hover, .finish:hover {
        cursor: pointer;
    }

.flip {
    padding: 10px;
}

.mark-frame div {
    display: inline-block;
    padding: 10px;
}

.mark-right:hover {
    background: #379937;
    color: #fff;
}

.mark-wrong:hover {
    background: #993737;
    color: #fff;
}

.score div {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
}

.resultsFrame a {
    color: #000;
}
