@using Cardid.Models
@model Card
@{
    ViewBag.Title = "Choose Decks For Card";
}

<h1 class="view-title">Add Card to Deck</h1>

<div class="flex flex-baseline">

    <div class="deck-column">

        <div class="flex flex-center">
            <div class="card-bothsides">
                <p class="card-listing">@Model.Front</p>
                <p class="card-listing">@Model.Back</p>
            </div>
        </div>

    </div>



    <div class="deck-column">

        <h2 class="view-title">Available decks:</h2>

        @foreach (Deck thisDeck in Model.AvailableDecks())
        {
            <div class="deck-listing">
                @thisDeck.DeckName
                <div>
                    <a href="@Url.Action("ChooseDeckSubmit", "Card", new { cardID = Model.CardID, deckID = thisDeck.DeckID })" class="btn main-btn">
                        <span class="icons">&#xe900;</span>
                        Add
                    </a>
                </div>
            </div>
        }
    </div>

</div>

