@using Cardid.Models
@model Card
@{
    ViewBag.Title = "Choose Decks For Card";
}



<h1 class="view-title">Add Card to Decks</h1>

<p class="card-bothsides">@Model.Front</p>
<p class="card-bothsides">@Model.Back</p>

@foreach (Deck thisDeck in Model.AvailableDecks())
{

        @Html.ActionLink(thisDeck.DeckName, "ChooseDecksSubmit", new { cardID = ViewBag.Card.CardID, deckID = thisDeck.DeckID }, new {@class="btn main-btn" })

}