@using Cardid.Models
@model List<Deck>
@{
    ViewBag.Title = "Choose Decks For Card";
}



<h1 class="view-title">Add Card to Decks</h1>

<p class="card-bothsides">@ViewBag.Card.Front</p>
<p class="card-bothsides">@ViewBag.Card.Back</p>

@foreach (Deck thisDeck in Model)
{

        @Html.ActionLink(thisDeck.Name, "ChooseDecksSubmit", new { cardID = ViewBag.Card.CardID, deckID = thisDeck.DeckID }, new {@class="btn main-btn" })

}