@using Cardid.Models
@model Deck
@{
    ViewBag.Title = "CreateDeck";
}


<h1 class="view-title">Create Deck</h1>

@using (Html.BeginForm("CreateDeckSubmit", "Deck", FormMethod.Post))
{

    <div>
        @Html.Label("Name", "Deck Name: ")
        @Html.TextBoxFor(m => m.DeckName)
        <button class="btn main-btn">Add deck</button>
    </div>



}

