@using Cardid.Models
@model Deck
@{
    ViewBag.Title = "CreateDeck";
}



<h1 class="view-title">Create Deck</h1>

@using (Html.BeginForm("CreateDeckSubmit", "Deck", FormMethod.Post, null))
{
    <div class="module">
        @Html.Label("Name", "Enter a name for your deck: ", new { @class = "wide-label" })
        <span class="tab"></span>
        @Html.TextBoxFor(m => m.DeckName, null, new { @class = "wide-input" })
        <span class="tab"></span>
        <button class="btn inline-btn">
            Continue
            <span class="icons">
                &nbsp;&#xe933;
            </span>
        </button>
    </div>
}
