
@using Cardid.Models



@if (TempData["card-added"] != null)
{
    Card card = TempData["card-added"] as Card;
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Card added to deck
    </div>
}

@if (TempData["card-created"] != null)
{
    Card card = TempData["card-created"] as Card;
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Card created successfully
    </div>
}

@if (TempData["card-removed"] != null)
{
    <div class="view-msg long-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Card has been removed
    </div>
}

@if (TempData["card-deleted"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Card has been deleted
    </div>
}

@if (TempData["deck-created"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        New deck created
    </div>
}

@if (TempData["deck-deleted"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Deck has been deleted
    </div>
}

@if (TempData["deck-searchstring-missing"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe917;</span>
        <span class="tab"></span>
        Please enter a deck name to search for
    </div>
}

@if (TempData["deckname-changed"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Deck name has been changed
    </div>
}

@if (TempData["deckname-missing"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe917;</span>
        <span class="tab"></span>
        Please enter a name for your deck
    </div>
}

@if (TempData["searchstring-missing"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe917;</span>
        <span class="tab"></span>
        Please enter text to search for
    </div>
}

@if (TempData["tag-added"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Tag added to your deck
    </div>
}

@if (TempData["tag-created"] != null)
{

    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Tag has been created
    </div>
}

@if (TempData["tag-deleted"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        Tag has been deleted
    </div>
}

@if (TempData["tag-exists"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe917;</span>
        <span class="tab"></span>
        Tag already exists
    </div>
}

@if (TempData["tagname-missing"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe917;</span>
        <span class="tab"></span>
        Please enter a tag name
    </div>
}

@if (TempData["user-login"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        You have been logged in
    </div>
}
else if (TempData["new-user"] != null)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        You have been registered
    </div>
}


@if (ViewBag.LoggedOut == true)
{
    <div class="view-msg">
        <span class="icons large-type">&#xe902;</span>
        <span class="tab"></span>
        You have been logged out
    </div>
}


<script>

    $(document).ready(function () {

        $('.view-msg').delay(2500).slideUp();
        $('.long-msg').delay(4000).slideUp();

    });

</script>